#Rev_media-dialog {
  min-width: 98%;
  width: calc(100%);
  height: calc(100%);
}

#Rev_media-content {
  background-color: #ffebca;
  width: calc(100%);
}

#Rev_title {
  color: #602b1d;
  font-size: 3.4vw;
}

#Rev_button {
  margin-right: 7px;
}

@media (max-width: 767px) {
  #Rev_media-dialog {
    min-width: 98%;
    width: calc(98%);
    height: calc(50%);
  }

  #Rev_media-content {
    background-color: #ffebca;
    width: calc(98%);
    height: auto;
  }

  #Rev_title {
    color: "#602B1D";
    text-wrap: nowrap;
    font-size: 5vw;
    margin-left: 10%;
  }
}
