#Rev_media-dialog {
  min-width: 98%;
  width: calc(100%);
  height: calc(100%);
}

#Rev_media-content {
  background-color: #ffebca;
  width: calc(100%);
  height: auto;
}

#Rev_title {
  color: #602b1d;
  font-size: 3.4vw;
}

#Rev_button {
  margin-right: 7px;
}

.Rev_kovleft {
  height: calc(20%);
  position: absolute;
  left: 16%;
  top: -8%;
  z-index: 5;
}

.Rev_kovright {
  height: calc(20%);
  position: absolute;
  left: 75%;
  bottom: -2%;
  z-index: 5;
}

#Rev_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#Rev_border-left {
  background: linear-gradient(270deg, #2b8069 -13%, #b8c3bf 70%, #dddedd 113%);
  border: none;
  min-height: 30vw;
  margin-right: 1%;
}

#Rev_border {
  background-color: #2b8069;
  border: 0.5px solid #2b8069;
  border-radius: 13px;
  width: 70%;
  min-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Rev_border-right {
  background: linear-gradient(45deg, #2b8069 -13%, #b8c3bf 70%, #dddedd 113%);
  min-height: 30vw;
  margin-left: 1%;
}

#Rev_text {
  text-align: center;
  width: 36vw;
  font-size: 1.3vw;
  color: #fff4e3;
  margin-bottom: 5%;
  text-wrap: wrap;
}

#Rev_img-border {
  width: 21vw;
  /* min-height: 100px; */
  height: 7vw;
}

#Rev_rect {
  width: calc(98%);
  height: 95px;
  stroke: #f8c77a;
  stroke-width: 1px;
  stroke-dasharray: 12px 12px;
  stroke-dashoffset: 1px;
  fill: none;
}

#Rev_foreignObject {
  width: calc(97%);
  height: 95px;
}

#Rev_reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6%;
}

#Rev_name,
#Rev_date {
  font-size: 1.1vw;
  color: #fff4e3;
}

#Rev_name {
  margin-bottom: 9px;
}

#Rev_left {
  margin-left: 18%;
}

#Rev_right {
  margin-right: 18%;
}

@media (max-width: 767px) {
  #Rev_media-dialog {
    min-width: 98%;
    width: calc(98%);
    height: calc(50%);
  }

  #Rev_media-content {
    background-color: #ffebca;
    width: calc(98%);
    height: auto;
  }

  #Rev_title {
    color: "#602B1D";
    text-wrap: nowrap;
    font-size: 5vw;
    margin-left: 10%;
  }

  .Rev_kovleft {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 5%;
    top: -6%;
    z-index: 5;
  }

  .Rev_kovright {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 75%;
    bottom: 1.5vh ;
    z-index: 5;
  }

  #Rev_button {
    margin-right: 5%;
  }

  #Rev_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  #Rev_border {
    background-color: #2b8069;
    border: 0.5px solid #2b8069;
    border-radius: 13px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #Rev_text {
    text-align: center;
    width: 36vw;
    font-size: 2vw;
    color: #fff4e3;
  }

  #Rev_img-border {
    margin-top: 4%;
    padding: 2% auto;
    width: 40vw;
    height: 17vw;
  }

  #Rev_svg {
    width: 41vw;
    height: 16vw;
  }

  #Rev_rect {
    width: 40vw;
    height: 15vw;
    stroke: #ffebca;
    stroke-width: 1px;
    stroke-dasharray: 12px 12px;
    stroke-dashoffset: 1px;
    fill: none;
  }

  #Rev_foreignObject {
    width: 39vw;
    height: 15vw;
  }

  #Rev_reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 6%;
  }

  #Rev_img img {
    width: 39px;
    height: 39px;
  }

  #Rev_name,
  #Rev_date {
    font-size: 2vw;
    color: #fff4e3;
  }

  #Rev_name {
    margin-bottom: 0.5%;
  }

  #Rev_left {
    margin-left: 7%;
    height: 50vw;
  }

  #Rev_right {
    margin-right: 11%;
    height: 50vw;
  }

  #Rev_left img,
  #Rev_right img {
    height: 4.3vw;
  }
}
