/* styles for app.tsx */

html {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #fff4e3;
}

.wrapper {
  font-family: "Raleway", sans-serif;
  color: #fff4e3;
  background-color: #fff4e3;
}

#containerr {
  margin: 32px 20px 32px 20px;
}

/* styles for header.tsx */

/* header */

#header-container {
  border: 0.5px solid #602b1d;
  border-radius: 15px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-container > a > img {
  height: calc(100%);
  min-width: 86px;
  width: 6vw;
}

#navbarContent {
  width: inherit;
  align-items: center;
}

#navbarRow {
  min-width: 102%;
  float: right;
  margin-right: 0;
  display: inline-flex;
  align-items: center;
}

#header-ul li {
  text-wrap: nowrap;
  display: inline-flex;
  color: #602b1d;
  font-size: 1.2vw;
}

#forms {
  margin-right: 14px;
  float: right;
}

#forms > button {
  width: 15vw;
  min-height: 50px;
  height: 3vw;
  background-color: #fff4e3;
  border: 1px solid #602b1d;
  border-radius: 15px;
  color: "#602B1D";
  font-size: 1vw;
}

#forms > button:first-child {
  margin-right: 26px;
}

@media (max-width: 767px) {
  #navbarRow > div {
    padding: 0;
    margin: 0 auto;
  }

  #navbarContent {
    padding-right: 0;
  }

  #header-container {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 0;
    display: flex;
  }

  .header-mobile {
    position: relative;
  }
  .header-mobile > img {
    height: 3.5rem;
  }

  .header-mobile .header-mobile-text {
    visibility: hidden;
    position: absolute;
    right: -14vw;
    bottom: 8.5vw;
    width: 26vw;
    color: white;
    font-size: 2.5vw;
    background-color: rgb(43, 128, 105);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    transform: translateX(-50%);
  }

  .header-mobile:hover .header-mobile-text {
    visibility: visible;
  }

  #header-ul {
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    border-radius: 13px;
    margin: 10px auto;
    padding: 0 auto;
  }

  #header-ul li {
    color: #602b1d;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    width: calc(93%);
    margin: 10px auto;
    border: 0.5px solid #602b1d;
    border-radius: 13px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #header-ul li {
    margin-right: 4%;
    font-size: 1.4vw;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  #header-container > a {
    margin-right: 0.1%;
  }

  #header-ul li {
    margin-right: 2%;
    font-size: 1.3vw;
  }

  #forms {
    padding-right: 0;
  }

  #forms > button {
    width: 16vw;
    font-size: 1.3vw;
  }

  #forms > button:first-child {
    margin-right: 5px;
  }
}

@media (min-width: 1301px) {
  #header-container > a {
    margin-right: 2%;
  }

  #header-ul li {
    margin-right: 4%;
  }

  #forms button {
    font-size: 1.3vw;
  }
}

/* tooltip */

#toolt {
  display: flex;
  flex-direction: row;
}

.ttip img {
  max-width: 18px;
  max-height: 18px;
  background-color: inherit;
}

.ttip {
  margin-right: 30px;
  position: relative;
}

.ttip .tooltiptext {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  width: 12vw;
  color: white;
  font-size: 1.3vw;
  background-color: rgb(43, 128, 105);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  transform: translateX(-50%);
}
.ttip:hover .tooltiptext {
  visibility: visible;
}

/* headers end */

/* styles for footer.tsx */

/* footer */

@media (min-width: 768px) and (max-width: 991px) {
  #Footer_sites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* styles for Home.tsx */

/* home */

.problem-img {
  width: calc(100%);
  height: calc(100% - 10px);
}

#Home-svg {
  margin-top: 0.8%;
  padding-left: 32px;
}

#Home-svg:last-child {
  margin-bottom: 3%;
}

#osobcont {
  margin: 0 -28px 0 -28px;
  width: inherit;
  background-color: #ffebca;
}

#div-img {
  height: 32vw;
}

/* summary desctop */

.Home_details {
  color: #602b1d;
  font-size: 2.2rem;
}

.Home_summary-text1,
.Home_summary-text2 {
  margin: 0.8% 2%;
}

.Home_answer {
  padding: 0 2.2%;
}

.Home_answer-text {
  font-size: 1.3rem;
  line-height: 1;
  padding: 1%;
}

.Home_details {
  display: inline-flex;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.Home_details::-webkit-details-marker {
  display: none;
}
.Home_details::-moz-list-bullet {
  list-style-type: none;
}
.Home_details::marker {
  display: none;
}
.Home_summary {
  display: block;
  padding: 0.3em 1em 0.3em 0.9em;
  cursor: pointer;
  position: relative;
}

.Home_details[open] > .Home_summary:before {
  transform: scale(1, -1);
}
.Home_summary ~ * {
  padding: 0 1em 10px 0.9em;
}
.Home_details[open] .Home_summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* summary mobile */

.Homemob_details {
  color: #602b1d;
  font-size: 1rem;
  max-width: 100%;
  margin-left: 5%;
  display: block;
  overflow: hidden;
}

.Homemob_summary {
  display: block;
  cursor: pointer;
  position: relative;
  border: 0.5px solid #602b1d;
  border-radius: 13px;
  height: 3em;
  margin-bottom: 1em;
}

.Homemob_summary-text1 {
  margin: 0.6em 0.9em 0 1em;
}

.Homemob_summary-text2 {
  margin-top: 0.6em;
}

.Homemob_summary:before {
  top: 0.8em;
  right: 0.3em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=")
    no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform 0.5s;
}

.Homemob_answer {
  position: relative;
  border: none;
  border: 1px solid #f8c77a;
  background-color: #f8c77a;
  border-radius: 13px;
  bottom: -0.1em;
  margin-bottom: 1em;
}

.Homemob_answer-text {
  font-size: 1em;
  line-height: 1;
  padding: 1em 1em 0.1em 0.8em;
}

.Homemob_details::-webkit-details-marker {
  display: none;
}
.Homemob_details::-moz-list-bullet {
  list-style-type: none;
}
.Homemob_details::marker {
  display: none;
}

.Homemob_details[open] > .Homemob_summary:before {
  transform: scale(1, -1);
}
.Homemob_summary ~ * {
  padding: 0 1em 10px 0.9em;
}
.Homemob_details[open] .Homemob_summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* summary */

/* ReviewsCarusel */
#Homerev_title {
  color: #602b1d;
  font-size: 4rem;
}

.Homerev_kovleft {
  height: calc(20%);
  position: absolute;
  left: 16%;
  top: -8%;
  z-index: 5;
}

.Homerev_kovright {
  height: calc(20%);
  position: absolute;
  left: 75%;
  bottom: -2%;
  z-index: 5;
}

#Homerev_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#Homerev_border-left {
  background: linear-gradient(270deg, #2b8069 -13%, #b8c3bf 70%, #dddedd 113%);
  border: none;
  min-height: 30vw;
  margin-right: 1%;
}

#Homerev_border {
  background-color: #2b8069;
  border: 0.5px solid #2b8069;
  border-radius: 13px;
  width: 70%;
  min-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Homerev_border-right {
  background: linear-gradient(45deg, #2b8069 -13%, #b8c3bf 70%, #dddedd 113%);
  min-height: 30vw;
  margin-left: 1%;
}

#Homerev_text {
  text-align: center;
  width: 36vw;
  font-size: 1.3vw;
  color: #fff4e3;
  margin-bottom: 5%;
}

#Homerev_img-border {
  width: 24vw;
  min-height: 80px;
  height: 9vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#Homerev_svg {
  width: 23vw;
  min-height: 79px;
  height: 8vw;
}

#Homerev_rect {
  width: 22vw;
  min-height: 78px;
  height: 7vw;
  stroke: #f8c77a;
  stroke-width: 1px;
  stroke-dasharray: 12px 12px;
  stroke-dashoffset: 1px;
  fill: none;
}

#Homerev_foreignObject {
  width: 21vw;
  min-height: 77px;
  height: 6vw;
}

#Homerev_reviews {
  margin-top: 0.5vw;
  padding: 0.1vw 0.3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}

#Homerev_img {
  margin: 1.1vw 1.3vw 1.1vw 2.5vw;
  height: calc(90%);
  width: calc(25%);
}

#Homerev_img > img {
  width: calc(100%);
  height: calc(100%);
}

#Homerev_name,
#Homerev_date {
  font-size: 1.2vw;
  color: #fff4e3;
}

#Homerev_name {
  margin-bottom: 9px;
}

#Homerev_left > img,
#Homerev_right > img {
  border: 0.5px solid #fff4e3;
  border-radius: 10px;
  width: 8.75vw;
  height: 3.6vw;
}

#Homerev_left > img:hover {
  border: 0.5px solid #f8c77a;
  border-radius: 13px;
  background-color: #f8c77a;
}

#Homerev_right > img:hover {
  border: 0.5px solid #f8c77a;
  border-radius: 10px;
  background-color: #f8c77a;
}

#Homerev_left {
  margin-left: 13%;
}

#Homerev_right {
  margin-right: 13%;
}

@media (max-width: 767px) {
  #Homerev_title {
    font-size: 1.4rem;
  }

  .Homerev_kovleft {
    height: calc(20%);
    position: absolute;
    left: 5%;
    top: -8%;
    z-index: 5;
  }

  .Homerev_kovright {
    height: calc(20%);
    position: absolute;
    left: 75%;
    bottom: 12%;
    z-index: 5;
  }

  #Homerev_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  #Homerev_border {
    background-color: #2b8069;
    border: 0.5px solid #2b8069;
    border-radius: 13px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Homerev_text {
    text-align: center;
    width: 36vw;
    font-size: 2vw;
    color: #fff4e3;
    order: 2;
  }

  #Homerev_img-border {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 37vw;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Homerev_svg {
    width: 36vw;
    height: 15vw;
  }

  #Homerev_rect {
    width: 35vw;
    height: 14vw;
    stroke: #ffebca;
    stroke-width: 1px;
    stroke-dasharray: 12px 12px;
    stroke-dashoffset: 1px;
    fill: none;
  }

  #Homerev_foreignObject {
    width: 34vw;
    height: 13vw;
  }

  #Homerev_reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 6%;
  }

  #Homerev_img img {
    width: 39px;
    height: 39px;
  }

  #Homerev_name,
  #Homerev_date {
    font-size: 2vw;
    color: #fff4e3;
  }

  #Homerev_name {
    margin-bottom: 9px;
  }

  #Homerev_left img,
  #Homerev_right img {
    height: 4.3vw;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  #Homerev_title {
    color: #602b1d;
    font-size: 4rem;
  }

  .Homerev_kovleft {
    height: calc(20%);
    position: absolute;
    left: 16%;
    top: -8%;
    z-index: 5;
  }

  .Homerev_kovright {
    height: calc(20%);
    position: absolute;
    left: 75%;
    bottom: -2%;
    z-index: 5;
  }

  #Homerev_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  #Homerev_border-left {
    background: linear-gradient(
      270deg,
      #2b8069 -13%,
      #b8c3bf 70%,
      #dddedd 113%
    );
    border: none;
    min-height: 30vw;
    margin-right: 1%;
  }

  #Homerev_border {
    background-color: #2b8069;
    border: 0.5px solid #2b8069;
    border-radius: 13px;
    width: 70%;
    min-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Homerev_border-right {
    background: linear-gradient(45deg, #2b8069 -13%, #b8c3bf 70%, #dddedd 113%);
    min-height: 30vw;
    margin-left: 1%;
  }

  #Homerev_text {
    text-align: center;
    width: 36vw;
    font-size: 1.3vw;
    color: #fff4e3;
    margin-bottom: 5%;
  }

  #Homerev_img-border {
    width: clamp();
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  /* #Homerev_svg {
    width: 17rem;
    height: 3rem;
  }

  #Homerev_rect {
    width: 16rem;
    height: 2rem;
    stroke: #f8c77a;
    stroke-width: 1px;
    stroke-dasharray: 12px 12px;
    stroke-dashoffset: 1px;
    fill: none;
  }

  #Homerev_foreignObject {
    width: 15rem;
    height: 1rem;
  } */

  #Homerev_reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #Homerev_name,
  #Homerev_date {
    font-size: 1.1vw;
    color: #fff4e3;
  }

  #Homerev_name {
    margin-bottom: 9px;
  }

  #Homerev_left {
    margin-left: 17%;
  }

  #Homerev_right {
    margin-right: 17%;
  }

  #Homerev_left img,
  #Homerev_right img {
    height: 4.3vw;
  }
}

/* ReviewsCarusel--END*/

/* Map */

#Map-container {
  margin: 4% auto;
}

.homeMap {
  height: inherit;
  width: inherit;
}

@media (min-width: 798px) {
  #maps {
    width: 40rem;
    height: 28rem;
  }
}
@media (max-width: 797px) {
  #maps {
    padding: 3px;
    width: 19rem;
    height: 15.5rem;
  }
}

/* Map */

/* styles fot About.tsx */

#problem-btn {
  width: calc(100% - 1px);
  height: 6 + "vw";
}

.line-img {
  width: calc(100% - 10px);
}

/* styles for botulinoterapia.tsx */

.price:after {
  content: " \20BD";
}
